body{
background-color: rgb(41, 78, 114);
color: rgb(255, 255, 255);
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}